@import url(vars.css);

@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

time {
    padding-left: 0.5rem;
    font-weight: 100;
}

figure {
    margin: 0;
    padding: 0;
}

h1 {
    width: 20vw;
    font-size: 1.5rem;
}

iframe {
    border: none;
    width: calc(100% - 2rem);
    height: 60vh;
}

video {
    width: calc(100% - 2rem);
}

li {
    margin-top: 0.5vh;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;
}
 
footer p {
    margin: 0;
}

footer {
    position: absolute;
    bottom: 1rem;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--underline-color);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

a:hover::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

hr {
    border-style: solid;
    border-color: var(--page-header, gray);
    border-width: 0.1em;
    margin: 0;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--text-color);
    overflow-y: hidden;
}

details {
    font-size: var(--nav-font-size, 1rem);
}

summary:hover {
    cursor: pointer;
}

summary {
    display: block;
}

details.disabled summary {
    pointer-events: none;
    user-select: none;
}

nav {
    font-size: 1.25rem;
}

ul {
    margin: 0;
    padding-left: 23px;
}

table {
    border-collapse:collapse;
    border:1px solid #000000;
}
    
table td {
    padding: 0.5rem;
    border:1px solid #000000;
}

caption {
    margin-bottom: 0.5vh;
}

label {
    margin-right: 1vw;
    margin-left: 1vw;
}

form h2 {
    padding: 0;
    margin: 0;

}

form {
    padding: 1vw;
}

#navigation {
    height: 40vh;
    font-size: 1.25rem;
}

#message-wrapper {
    height: 78vh;
    display: flex;
    flex-direction: column;
    /* This broke the scrollability of the container for some reason. Interesting 
    justify-content: flex-end; */
    overflow-y: scroll;
    position: absolute;
    top: calc(2vh + 1vh + 0.2em + 3rem);
    /* scrollbar-width: 1vw; */
}

.message:last-child {
    margin-bottom: 2rem;
}

#left-side {
    width: 24vw;
    height: 100vh;
    background-color: var(--left-color, blue);
    color: var(--left-text-color);
}   

#left-side > * {
    margin-left: 2vw;
    margin-right: 2vw;
}

#right-side {
    flex: 1;
    height: 100vh;
    background-color: var(--right-color);
    color: var(--right-text-color);
}

#page-header {
    color: var(--page-header, rgb(1, 1, 1));
    margin-left: 1rem;
    margin-right: 1rem;
}

#bio-section {
    height: 80vh;
}

#bio-picture {
    width: 20vw;
    height: auto;
}

.message {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--message-color);
    border-radius: var(--border-radius);
}

.message-pic {
    margin-top: 0.25rem;
    width: 5rem;
    height: auto;
    border-radius: var(--border-radius);
}

.message-sender {
    display: block;
    margin-left: 1vw;
    margin-top: 1vh;
    font-weight: bold;
}

.message-content-holder {
    width: calc(100% - 5rem);
}

.message-content {
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#contact-me {
    position: absolute;
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--left-text-color);
    bottom: 1rem;
    width: 73vw;
    background-color: var(--left-color);
    border-radius: var(--border-radius);
    height: 12vh;
}

#contact-form-name {
    flex: 1;
    min-width: 1rem;
}

#contact-form-email {
    flex: 1;
    min-width: 1rem;

}

#contact-form-email-label {
    margin-left: 1rem;
}
#contact-form-message {
    flex: 1;
}

#form-name-email {
    height: 3vh;
    display: flex;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

#form-message {
    display:flex;
    flex: 1;
    height: 3vh;
    margin-top: 1vh;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.form-name-email-wrapper {
    display: flex;
    flex: 1;
}

#contact-form-message {
    min-width: 0.25rem;
}

#portfolio-website {
    width: 100%;
    height: 80vh;
}

#hackathon-picture {
    width: 70%;
    height: auto;
}

.bio-classes-link-p {
    display: inline;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.project-picture {
    width: calc(100% - 2rem);
}

.visually-hidden {
    display: none;
}

h3 {
    margin: 0;
    margin-left: 0.25rem;
    padding: 0;
    margin-bottom: 0.25rem;
}

label {
    margin: 0;
    margin-right: 1rem;
}

summary h2 {
    margin: 0;
    display: inline;
}

main section details {
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 3rem;
}


@media screen and (max-width: 970px) {
    h1 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 810px){
    #left-side {
        display: none;
    }
    
    #contact-me {
        width: calc(100% - 2rem);
    }

    iframe {
        width: 100%;
    
    }

    summary {
        display: list-item;
    }

    details.disabled summary {
        pointer-events: all;
        user-select: auto;
    }

    main section div#nav-holder{
        /* position: absolute; */
        width:100vw;
        height: calc(1vh + 2vh + 2em);
    }

    main section div details nav {
        position:absolute;
        z-index: 99999;
        margin-top: 1vh;
        background-color: var(--nav-background);
        width: calc(100vw - 1rem);
    }

    main section div details nav {
        background-color: var(--nav-background);
        z-index: 9999;
        padding-left: 1rem;
    }

    main section div details summary {
        margin-left: 1rem;
    }

    #message-wrapper {
        height: 78vh;
    }

    main section div details[open] summary ~ * {
        animation: sweep 0.5s ease-in-out;
    }
}

@media screen and (max-width: 600px) {
    #form-name-email {
        flex-direction: column;
        height: inherit;
    }

    #form-message {
        height: inherit;
    }

    #contact-me {
        height: 16vh;
    }

    .message:last-child {
        margin-bottom: 3rem;
    }

    #contact-form-email-label {
        margin-left: 0;
    }
}

@media screen and (max-height: 600px) {
    #message-wrapper {
        height: 70vh;
    }
}