:root {
    --left-color: purple;
    --right-color: rgb(243, 148, 243);
    --text-color: azure;
}

a {
    color: var(--text-color, azure);
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--text-color);
}

#left-side {
    width: 22vw;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 100vh;
    background-color: var(--left-color, blue);
}   

#right-side {
    flex: 1;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: var(--right-color);
}


